---
/*import Features3 from '~/components/widgets/Features3.astro';*/
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
/*import Testimonials from '~/components/widgets/Testimonials.astro';*/
import Steps from '~/components/widgets/Steps.astro';
import pkOffice from '~/assets/images/pk_office.jpg';


const metadata = {
  title: 'About me',
};
---

<Layout metadata={metadata}>

  
 <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Pauline Kolde"
    tagline="About me"
    actions={[{ variant: 'primary', text: 'Contact me', href: '/contact#form' }]}
  >
    <Fragment slot="subtitle">
      I'm a Microsoft MVP, consultant, and speaker, focused on Dynamics 365 Customer Insights, Copilot, and the Power Platform.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={2}
    items={[
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/paulinekolde/',
        },
      },
      {
        icon: 'tabler:brand-youtube',
        callToAction: {
          target: '_blank',
          text: 'Youtube',
          href: 'https://www.youtube.com/@paulinekolde',
        },
      },
      
      
    ]}
    image={{
      src: pkOffice,
      alt: 'Pauline Kolde',
      
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">My journey</h2>
      <p>
      I entered the world of Dynamics 365 as a career changer in 2017 and quickly found my way into what was then called Dynamics 365 for Marketing, today Customer Insights.
      </p>
      <br />
      <p>
Over the years, it became my focus and I grew with the product and its community. With tech evolving rapidly, especially through AI, I sometimes struggle to keep up, just like many others do.        <br />
        
        <br />
That's why I started my blog in August 2023: a place to share what I discover, test, and learn. “Sharing and caring” might sound cheesy, but it's what shaped my career — and what I hope helps others, too.      </p>
      <br />
      <p>Curious to dive deeper? Follow along here.</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Partner & Senior Consultant <br /> <span class="font-normal">CRMK Deutschland, Hamburg</span> <br /> <span class="text-sm font-normal">November 2025 - Present</span>',
        description: `Together with Benedikt Bergmann and Björn Zahnow, I'm building up the German branch of CRMK bringing the spirit and values of our Swedish colleagues to a new market.<br /> At CRMK, we work with curiosity, collaboration, and transparency, always aiming for sustainable, human-centered growth. <br /> It's not just about delivering great solutions in Dynamics 365 Customer Insights, Copilot, and the Power Platform, it's about creating an environment where people enjoy their work, share knowledge openly, and build long-term value for clients and community. <br /> `,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Manager <br /> <span class="font-normal">Cluster Dynamics Reply, Hamburg</span> <br /> <span class="text-sm font-normal">April 2021 - October, 2025</span>',
        description: `I lead the Customer Insights team, shaping strategy, mentoring colleagues, and exploring new ideas in customer data.<br /> I loved inspiring clients in pre-sales by showing what's possible with the Microsoft stack and sparking fresh ideas. <br /> Together with my clients, I designed tailored, data-driven solutions that make marketing and CRM smarter and more personal`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'CRM Consultant <br /> <span class="font-normal">Fellowmind, Eschborn</span> <br /> <span class="text-sm font-normal">September 2017 - March, 2021</span>',
        description: `One of the best decisions I ever made was joining the Young Talent Program at CRM Partners (now Fellowmind).<br /> As a career changer, it opened the door to Microsoft, Dynamics 365, and the Power Platform and taught me not just the tech, but problem-solving, creativity, and how technology can transform businesses.<br /> Looking back, I wouldn't change a thing. It was the start of an exciting journey.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />
  <!-- Features3 Widget ************** 

  <Features3
    title="Skills"
    subtitle="Discover the proficiencies that allow me to bring imagination to life through design."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Graphic design',
        description: 'Proficient in crafting visually appealing designs that convey messages effectively.',
      },
      {
        title: 'Branding and identity',
        description: 'Skilled at developing cohesive brand identities, including logos and brand guidelines.',
      },
      {
        title: 'User-centered design',
        description: 'Experienced in creating user-friendly interfaces and optimizing user experiences.',
      },
      {
        title: 'Adobe Creative Suite',
        description: 'Skilled in using Photoshop, Illustrator, and InDesign to create and edit visual elements.',
      },
      {
        title: 'Typography',
        description: 'Adept in selecting and manipulating typefaces to enhance design aesthetics.',
      },
      {
        title: 'Color theory',
        description: 'Proficient in using color to evoke emotions and enhance visual harmony.',
      },
      {
        title: 'Print and digital design',
        description: 'Knowledgeable in designing for both print materials and digital platforms.',
      },
      {
        title: 'Attention to detail',
        description: 'Diligent in maintaining precision and quality in all design work.',
      },
      {
        title: 'Adaptability',
        description: 'Quick to adapt to new design trends, technologies, and client preferences.',
      },
    ]}
  />
  -->
  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Bachelor of Arts in Business Management - Tourism, Hotel and Event <br /> <span class="font-normal">Hochschule Mittweida</span> <br /> <span class="text-sm font-normal">2014 - 2017</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Bachelor of Arts in Islamic Studies <br /> <span class="font-normal">Philipps University of Marburg</span> <br /> <span class="text-sm font-normal">2011 - 2014</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />



  

  <!-- Testimonials Widget *********** 

  <Testimonials
    title="Client testimonials"
    subtitle="Discover what clients have to say about their experiences working with me."
    testimonials={[
      {
        testimonial: `She took our vague concept and turned it into a visual masterpiece that perfectly aligned with our goals. Her attention to detail and ability to translate ideas into compelling visuals exceeded our expectations.`,
        name: 'Mark Thompson',
        job: 'Creative director',
        image: {
          src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Mark Thompson Image',
        },
      },
      {
        testimonial: `She transformed our brand identity with her creative finesse, capturing our essence in every element. Her dedication and talent truly shine through her work.`,
        name: 'Emily Martinez',
        job: 'CEO',
        image: {
          src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',
          alt: 'Emily Martinez Image',
        },
      },
      {
        testimonial: `She has an uncanny ability to communicate emotions and stories. She crafted a logo for our NGO that not only represents our cause but also evokes empathy. Her professionalism and commitment make her a designer of exceptional caliber.`,
        name: 'Laura Simmons',
        job: 'Founder of an NGO',
        image: {
          src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Laura Simmons Image',
        },
      },
      {
        testimonial: `We entrusted Sarah with revamping our website's user interface, and the results were astounding. Her intuitive design sense enhanced user experience, leading to a significant increase in engagement. She's a designer who truly understands the synergy of aesthetics and functionality.`,
        name: 'Alex Foster',
        job: 'Director of web services',
        image: {
          src: 'https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Alex Foster Image',
        },
      },
      {
        testimonial: `She took our vision and elevated it beyond imagination. Her ability to capture brand essence and translate it into design is nothing short of remarkable. Working with her has been an inspiring journey.`,
        name: 'Jessica Collins',
        job: 'Product Manager',
        image: {
          src: 'https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=778&q=80',
          alt: 'Jessica Collins Image',
        },
      },
      {
        testimonial: `Her ability to transform concepts into captivating visuals is nothing short of extraordinary. She took our event poster idea and turned it into a visual masterpiece that perfectly captured the essence of our festival. Sarah's dedication, creativity, and knack for delivering beyond expectations make her an invaluable asset to any project.`,
        name: 'Michael Carter',
        job: 'Event Coordinator',
        image: {
          src: 'https://images.unsplash.com/photo-1566492031773-4f4e44671857?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Michael Carter Image',
        },
      },
    ]}
  />-->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Pauline Kolde"
    subtitle="Want to know more or get help on something?"
    actions={[
      {
        variant: 'primary',
        text: 'Contact me',
        href: '/contact',
      },
    ]}
  />
</Layout>

 
