---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
/*import Features from '~/components/widgets/Features.astro';*/
/*import Features2 from '~/components/widgets/Features2.astro';*/
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
/*import FAQs from '~/components/widgets/FAQs.astro';*/
/*import Stats from '~/components/widgets/Stats.astro';*/
import CallToAction from '~/components/widgets/CallToAction.astro';
import pkHero from '~/assets/images/pk_hero_image.png';
import pkMicrosoft from '~/assets/images/pk_microsoft.jpeg';
import pkDmSpeaker from '~/assets/images/pk_dm_speaker.jpeg';

const metadata = {
  title: 'Pauline Kolde - The Art Of Customer Insights',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Subscribe',
        href: '/subscribe',
        icon: 'tabler:bell',
      },
      { text: 'Read blog', href: '/blog' },
    ]}
    image={{ src: pkHero, alt: 'Pauline' }}
  >
    <Fragment slot="title">
      Welcome to my blog
      <span class="text-accent dark:text-white"> <br>The Art Of Customer Insights</span> 
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Turning Customer Experience into Business Impact with AI, Dynamics 365 & the Power Platform.</span>
       </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note title="My Philosophy:" description="Innovation. Inspiration. Connection." />
 
  <!-- Content Widget **************** -->

  <Content
    isReversed
    title="Technology should feel empowering, not overwhelming."
      items={[
      {
        title: 'Practical deep dives into Dynamics 365 Customer Insights & Power Platform',
       /* description:
          '...',*/
          icon: 'tabler:automation',
      },
      {
        title: 'Real examples from CRM and marketing automation projects',
        /*description:
          'from marketing automation to AI-driven sales & Copilot Studio',*/
       icon: 'tabler:speakerphone',
        },
      {
        title: 'Stories from the community and lessons learned on my journey as a consultant',
        /*description:
          'and learnings from events like Nordic Summit, DynamicsMinds, and of course ColorCloud',*/
         icon: 'tabler:writing',},
   ]}
    image={{
      src: pkMicrosoft,
      alt: 'Pauline at Microsoft ',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About this blog</h3>
      This blog is my way of turning everyday experiences into something you can use right away.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->
 
  <Content
    isAfterContent
    items={[
            {
        title: 'December 2025:Microsoft AI Tour in Frankfurt',
        description:
           '<a href="https://aitour.microsoft.com/flow/microsoft/frankfurt26/landingpage/page/cityhome" target="_blank" class="text-[#476a30] hover:text-[#314821]">Learn more about Microsoft AI Tour</a>',
        icon: 'tabler:brand-windows',
      },
      {
        title: 'January 2026: CTTT in Tallinn',
        description:
           '<a href="https://cloudtechtallinn.com/" target="_blank" class="text-[#476a30] hover:text-[#314821]">Learn more about CTTT</a>',
        icon: 'tabler:empathize',
      },
      {
        title: 'April 2026: ColorCloud in Hamburg',
        description:
           '<a href="https://color.cloud/" target="_blank" class="text-[#476a30] hover:text-[#314821]">Learn more about ColorCloud</a>',
        icon: 'tabler:rainbow',
      },
    ]}
      image={{
      src: pkDmSpeaker,
      alt: 'Pauline at DynamicsMinds',
    }}
  >
    <Fragment slot="content">Community matters</Fragment>

      <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Let's meet at the next event</h3>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-green-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

 
  
  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in my blog"
    information={`On this blog, I share hands-on guides, lessons from my projects, and fresh perspectives from conferences and community work.`}
  />

  <!-- FAQs Widget ******************* 

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />-->

    <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact me',
        href: '/contact',
        target: '_blank',
        //icon: 'tabler:mailbox',
      },
    ]}
  >

    <Fragment slot="title">
     Pauline <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Kolde</span>
    </Fragment>

    <Fragment slot="subtitle">
      Want to know more or get help on something? <br class="hidden md:inline" />
    </Fragment>
  </CallToAction>
</Layout>
