---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
//import Form from '~/components/ui/Form.astro';

const metadata = {
  title: 'Subscribe to Newsletter',
  description: 'Stay updated with our latest insights and updates. Subscribe to our newsletter.',
};
---
<Layout metadata={metadata}>
  <!-- Hero Section -->
  <HeroText
    tagline="Newsletter"
    title="Subscribe to Our Newsletter"
    subtitle="Stay updated with the latest insights, tips, and updates delivered directly to your inbox."
  />

<form name="contact" method="POST" data-netlify="true">
  <p>
    <label>Your Name: <input type="text" name="name" /></label>   
  </p>
  <p>
    <label>Your Email: <input type="email" name="email" /></label>
  </p>
  
  <p>
    <button type="submit">Send</button>
  </p>
</form>

</Layout>